.nav {
    background-color: #132C33;
    color: #51C4D3 !important;
}

.home {
    border-radius: 0.25rem;
    text-align: center;
}
.home:hover {
    color: #aadef0 !important;
}

.links {
    color: #D8E3E7 !important;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0.25rem 0;
}

.links:hover {
    color: #aadef0 !important;
}

.login {
    background-color: #008CBA;
    color: white !important;
    border: 1px solid #008CBA;
    outline: none;
    transition: 0.5s ease-in-out;
}
.login:hover {
    background-color: #01b5f1;
    color: black !important;
    border: 1px solid #74dcff;
}

@media (max-width: 992px){
    .home {
        margin-top: 1rem !important;
    }
}

@media (min-width: 992px) {
    .login {
        width: 10rem;
    }
    .links {
        margin: 0 0.75rem;
    }
}