.analiza__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #51c4d3;
  padding-bottom: 0.75rem;
}

.deleteIcon {
  background-image: url("/src/components/static/delete.png");
  background-size: 30px 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
}

.deleteIcon:hover {
  border: 1px solid #126e82;
  width: 31px;
  height: 31px;
}

.submitBtn {
  min-width: 100%;
  width: 100%;
  background-color: #126e82;
  border: 1px solid #132c33;
}
.showBtn {
  margin: 0.5rem 0;
  min-width: 100%;
  width: 100%;
  background-color: #126e82;
  border: 1px solid #132c33;
}

.submitBtn:hover {
  background-color: #132c33;
}
.dataTable,
thead,
tbody,
tr,
td,
th {
  border: 1px solid #126e82;
}

.error {
  color: red;
  font-size: 0.85rem;
  float: right;
}

.wytClasses {
  background-color: green;
}

.wytClassesError {
  background-color: red;
}

.invalid {
  border: 1px solid #b40e0e !important;
  background-color: #fddddd !important;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
