.analiza__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #51c4d3;
  padding-bottom: 0.75rem;
}

.deleteIcon {
  background-image: url("/src/components/static/delete.png");
  background-size: 30px 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
}

.deleteIcon:hover {
  border: 1px solid #126e82;
  width: 31px;
  height: 31px;
}

.submitBtn {
  min-width: 100%;
  width: 100%;
  background-color: #126e82;
  border: 1px solid #132c33;
}
.showBtn {
  margin: 0.5rem 0;
  min-width: 100%;
  width: 100%;
  background-color: #126e82;
  border: 1px solid #132c33;
}

.submitBtn:hover {
  background-color: #132c33;
}
.dataTable,
thead,
tbody,
tr,
td,
th {
  border: 1px solid #126e82;
}

.dataTable {
  opacity: 1;
  animation: fade 0.4s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.errorStar {
  color: red;
}
.warningStar {
  color: rgb(170, 155, 22);
  font-weight: bold;
}

.invalidWarning {
  border: 1px solid #aca10c !important;
  background-color: #fbfddd !important;
}

.invalid {
  border: 1px solid #b40e0e !important;
  background-color: #fddddd !important;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorIcon {
  position: relative;
  float: right;
  height: 1.5rem;
  top: -31px;
  right: 9px;
  opacity: 0.8;
  cursor: default;
  margin-bottom: -24px;
}

.time {
  position: relative;
}

.time .timeHover {
  visibility: hidden;
  width: 5.65rem;
  background-color: rgb(1, 77, 139);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0.7;

  /* Position the tooltip */
  position: absolute;
  left: 0;
  bottom: 2.5rem;
  z-index: 1;
}

.time:hover .timeHover {
  visibility: visible;
}

.error {
  position: relative;
  float: right;
  top: -1.85rem;
  right: 2.3rem;
  color: red;
  font-size: 0.85rem;
  height: 0;
}

.warning {
  color: rgb(163, 148, 16);
  position: relative;
  float: right;
  top: -1.85rem;
  right: 2.3rem;
  font-size: 0.85rem;
  height: 0;
}

.warningIcon {
  position: relative;
  float: right;
  height: 1.5rem;
  top: -32px;
  right: 7px;
  opacity: 0.8;
  cursor: default;
  margin-bottom: -24px;
}

.obowiazkowe {
  font-style: italic;
}
