.struktura__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 29rem;
  border-bottom: 1px solid #51c4d3;
  padding-bottom: 0.75rem;
}

.submitBtn {
  min-width: 100%;
  width: 100%;
  background-color: #126E82;
  border: 1px solid #132C33;
}
.showBtn {
  margin: 0.5rem 0;
  min-width: 100%;
  width: 100%;
  background-color: #126E82;
  border: 1px solid #132C33;
}

.submitBtn:hover {
    background-color: #132C33;
}


tr td {
  vertical-align: middle;
}

.zdj {
  opacity: 1;
  display: inline-block;
  width: 125px;
  height: 125px;
  border: 1px solid #126E82;
  border-radius: 5px;
  transition: .5s ease;
  backface-visibility: hidden;
}

/*
.zdj:hover {
  opacity: 0.7;
  border: 2px solid #126E82;
}*/

.imgCont{
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 0%;
  text-align: center;
}

.imgCont:hover .zdj {
  opacity: 0.6;
}

.imgCont:hover .middle {
  opacity: 0.8;
}

.text {
  background-color: #126E82;
  color: white;
  padding: 0.25rem;
}


.deleteIcon {
  background-image: url("/src/components/static/delete.png");
  background-size: 30px 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
}

.deleteIcon:hover {
  border: 1px solid #126E82;
  width: 31px;
  height: 31px;
}

progress[value] {
  width: 100%;
  height: 20px;
}

.dataTable, thead, tbody, tr, td, th {
  border: 1px solid #126E82;
}

.errorMessage {
  text-align: center;
  color:red;
}